<!-- clients.html -->

{% extends 'base.html' %}

{% block title %}Clients - Dream Homes{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title mt-5">Clients</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Client ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                        {% if loop.index % 2 == 0 %}
                            <tr class="even">
                        {% else %}
                            <tr class="odd">
                        {% endif %}
                            <td>{{ client[0] }}</td>
                            <td>{{ client[1] }} {{ client[2] }}</td>
                            <td>{{ client[3] }}</td>
                            <td>{{ client[4] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
