<!-- register.html -->

{% extends 'base.html' %}

{% block title %}Register - Dream Homes{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title mt-5">Register</h1>
        <form action="{{ url_for('register') }}" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" id="role" name="role">
                    <option value="admin">Admin</option>
                    <option value="agent">Agent</option>
                    <option value="client">Client</option>
                </select>
            </div>
            <div class="form-group">
                <label for="validation_password">Validation Password</label>
                <input type="password" class="form-control" id="validation_password" name="validation_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        {% if message %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ message }}
            </div>
        {% endif %}
    </div>
{% endblock %}
