{% extends 'base.html' %}

{% block title %}Agents{% endblock %}

{% block content %}
    <div class="item" id="tables">
        <h2>Agents</h2>
        <table>
            <thead>
                <tr>
                    <th>Agent ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Office ID</th>
                </tr>
            </thead>
            <tbody>
                {% for agent in agents %}
                    <tr>
                        <td>{{ agent[0] }}</td>
                        <td>{{ agent[1] }} {{ agent[2] }}</td>
                        <td>{{ agent[3] }}</td>
                        <td>{{ agent[4] }}</td>
                        <td>{{ agent[5] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
