<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Real Estate{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <a class="logo" href="/">Real Estate</a>
        <nav class="navbar">
            <ul class="links">
                <li><a href="{{ url_for('show_agents') }}">Agents</a></li>
                <li><a href="{{ url_for('show_clients') }}">Clients</a></li>
                <li><a href="{{ url_for('show_offices') }}">Offices</a></li>
                <li><a href="{{ url_for('show_transactions') }}">Transactions</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
