{% extends 'base.html' %}

{% block title %}Properties{% endblock %}

{% block content %}
    <div class="items">
        <h1>Properties</h1>
        {% for property_data, image_data in properties %}
            <div class="item">
                {% if image_data %}
                    <img src="data:image/jpeg;base64,{{ image_data }}" alt="Property Image">
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <p><strong>Address:</strong> {{ property_data[1] }}</p>
                <p><strong>City:</strong> {{ property_data[2] }}</p>
                <p><strong>State:</strong> {{ property_data[3] }}</p>
                <p><strong>ZIP:</strong> {{ property_data[4] }}</p>
                <p><strong>Property Type:</strong> {{ property_data[5] }}</p>
                <p><strong>Bedrooms:</strong> {{ property_data[6] }}</p>
                <p><strong>Bathrooms:</strong> {{ property_data[7] }}</p>
                <p><strong>Square Feet:</strong> {{ property_data[8] }}</p>
                <p><strong>Price:</strong> {{ property_data[9] }}</p>
                <!--<form action="/delete_property/{{ property_data[0] }}" method="post">
                    <button type="submit">Delete Property</button>
                </form> -->
            </div>
        {% endfor %}
    </div>

    <hr>

    <!-- <h2>Add New Property</h2>
    <form action="/add_property" method="post" enctype="multipart/form-data">
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" required><br>
        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" required><br>
        <label for="state">State:</label><br>
        <input type="text" id="state" name="state" required><br>
        <label for="zipcode">ZIP Code:</label><br>
        <input type="text" id="zipcode" name="zipcode" required><br>
        <label for="property_type">Property Type:</label><br>
        <input type="text" id="property_type" name="property_type" required><br>
        <label for="bedrooms">Bedrooms:</label><br>
        <input type="number" id="bedrooms" name="bedrooms" required><br>
        <label for="bathrooms">Bathrooms:</label><br>
        <input type="number" id="bathrooms" name="bathrooms" required><br>
        <label for="square_feet">Square Feet:</label><br>
        <input type="number" id="square_feet" name="square_feet" required><br>
        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price" required><br>
        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image" accept="image/*"><br><br>
        <input type="submit" value="Add Property">
    </form> -->
{% endblock %}
