{% extends 'base.html' %}

{% block title %}Offices{% endblock %}

{% block content %}
    <div class="item" id="tables" >
        <h2>Offices</h2>
        <table>
            <thead>
                <tr>
                    <th>Office ID</th>
                    <th>Office Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>ZIP</th>
                </tr>
            </thead>
            <tbody>
                {% for office in offices %}
                    <tr>
                        <td>{{ office[0] }}</td>
                        <td>{{ office[1] }}</td>
                        <td>{{ office[2] }}</td>
                        <td>{{ office[3] }}</td>
                        <td>{{ office[4] }}</td>
                        <td>{{ office[5] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
{% endblock %}
